header.masthead {
    padding-top: 8.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #000000;
    background-image: url("../src/assets/img/hotel-fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 100vh;
  }
.navbar {
    background-color: #808080c4;
    transition: background-color 0.3s ease-in-out;
    color: #fff !important;
}

.navbar-scrolled {
    background-color: #fff;
}
[data-bs-theme="dark"] .navbar-scrolled {
    background-color: #343a40 !important;
    color: #fff !important;
}
[data-bs-theme="light"] .navbar-scrolled .navbar-nav .nav-link {
    color: #000000 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
  }

.card {
    border-radius: 2rem;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0,0,0.5);
    border-top-color: rgba(255, 255, 255, 0.5);
    border-left-color: rgba(255, 255, 255, 0.5);
    border-right-color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
}
.cb1 {
    color: rgb(2, 2, 2);
    background-color: rgba(225, 255, 255, 0);
}